
  .pry-btn{
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sec-btn{
    color: var(--primary-color);
    padding: .8rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }